:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --main-font-weight: 465;
  --title-font-weight: 785;
  --rlg-start-color: #000;
  --lg-start-color: #007f0c;
  --lg-end-color: #004306;
  --text-stroke-color: #000;
  --buttons-text-color: #00cc14;
}

:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --main-font-weight: 400;
  --title-font-weight: 700;
  --rlg-start-color: #d3d3d3;
  --lg-start-color: #e7e7e7;
  --lg-end-color: #1a1a1a;
  --text-stroke-color: #fff;
  --buttons-text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --main-font-weight: 465;
    --title-font-weight: 785;
    --rlg-start-color: #000;
    --lg-start-color: #007f0c;
    --lg-end-color: #004306;
    --text-stroke-color: #000;
    --buttons-text-color: #00cc14;
  }
}
